* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

table {
  border-collapse: collapse;
}

td,
th {
  vertical-align: top;
  border: 1px solid grey;
}
th#table-list div {
  /* fix material-ui's menu item getting covered by other elements */
  z-index: 2000;
}
.main-map {
  width: 99%;
  min-width: 400px;
  min-height: 400px;
  border: 1px solid lightblue;
}

.valign-bottom {
  vertical-align: bottom;
}

.copied {
  font-weight: bold;
  margin: 0;
  font-size: 12px;
  color: green;
}

.query-box {
  vertical-align: bottom;
  text-align: start;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  min-width: 400px;
}

#query {
  font-size: 12px;
  width: 100%;
  display: block;
  border-radius: 5px;
  border: 2px solid rgba(182, 177, 14, 0.584);
}

.hidden {
  visibility: hidden;
}

/************************* svg ********************/
svg.schema-svg-map {
  /* margin: 10px; */
}

rect {
  /* stroke-width: 1px; */
  fill: rgba(255, 255, 255, 1);
  stroke: #dde0e6;
}
rect.table {
}
rect.table-name {
  fill: rgb(190, 217, 235);
  cursor: pointer;
}
rect.column-name {
}

rect.table-focus {
}
rect.table-view {
  fill: rgb(220, 219, 219);
}

text {
  font-size: 14px;
  fill: rgb(14, 14, 14);
}
text.table-name {
  font-weight: bold;
  cursor: pointer;
}
text.column-name {
  /* text-anchor: start; */
}
text.table-view {
  font-weight: normal;
}
text.table-focus {
  fill: blue;
}

path.constraint {
  fill: none;
  stroke: rgba(252, 113, 6, 0.4);
  stroke-width: 3px;
}
path.upstream {
  stroke: rgba(255, 0, 98, 0.4);
}
path.downstream {
  stroke: rgba(182, 177, 14, 0.584);
}
rect.upstream {
  stroke: rgba(255, 0, 98, 0.4);
  stroke-width: 2px;
}
rect.downstream {
  stroke: rgba(182, 177, 14, 0.584);
  stroke-width: 2px;
}
path.hightlight {
  stroke: rgba(190, 6, 252, 0.4);
}

rect.column-fk {
  stroke: rgba(252, 113, 6, 0.4);
}

.pointer:hover {
  cursor: pointer;
}
.where-column-builder {
  position: absolute;
  /* display: block; */
  background-color: #dde0e6;
  border: 1px solid grey;
  border-radius: 5px;
}

.whereColumnMenu {
  min-width: 200px;
  min-height: 50px;
  max-width: 600px;
  max-height: 200px;
  position: absolute;
  /* padding: 10px; */
  /* z-index: 3000; */
  background-color: rgb(199, 222, 163);
  border-radius: 5px;
  border: 1px solid grey;
  box-shadow: grey;
  box-sizing: border-box;
  overflow: auto;
}
